body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-30px;
  width:1845px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:733px;
}
#u2595 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:22px;
  width:1347px;
  height:733px;
  display:flex;
}
#u2595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2596 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:205px;
  width:88px;
  height:31px;
  display:flex;
  color:#FF0000;
}
#u2596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:312px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 4px rgba(153, 153, 153, 0.34901960784313724);
  -webkit-box-shadow:0px 0px 4px rgba(153, 153, 153, 0.34901960784313724);
  box-shadow:0px 0px 4px rgba(153, 153, 153, 0.34901960784313724);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:10px;
}
#u2597 {
  border-width:0px;
  position:absolute;
  left:1469px;
  top:284px;
  width:404px;
  height:312px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:10px;
}
#u2597 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:2px;
}
#u2598 {
  border-width:0px;
  position:absolute;
  left:1470px;
  top:327px;
  width:403px;
  height:1px;
  display:flex;
}
#u2598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:2px;
}
#u2599 {
  border-width:0px;
  position:absolute;
  left:1471px;
  top:536px;
  width:404px;
  height:1px;
  display:flex;
}
#u2599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2600 {
  border-width:0px;
  position:absolute;
  left:1847px;
  top:297px;
  width:16px;
  height:16px;
  display:flex;
  opacity:0.5;
}
#u2600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(54, 163, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2601 {
  border-width:0px;
  position:absolute;
  left:1779px;
  top:548px;
  width:78px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2601 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2601_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(45, 183, 245, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2601.mouseOver {
}
#u2601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u2602 {
  border-width:0px;
  position:absolute;
  left:1706px;
  top:548px;
  width:65px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u2602 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2602_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u2602.mouseOver {
}
#u2602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u2603 {
  border-width:0px;
  position:absolute;
  left:1526px;
  top:412px;
  width:58px;
  height:34px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u2603 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2603_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2604 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2605 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue ', 'Helvetica Neue', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u2606 {
  border-width:0px;
  position:absolute;
  left:1593px;
  top:416px;
  width:172px;
  height:30px;
  display:flex;
  font-family:'Helvetica Neue ', 'Helvetica Neue', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u2606 .text {
  position:absolute;
  align-self:center;
  padding:2px 8px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  line-height:18px;
}
#u2607 {
  border-width:0px;
  position:absolute;
  left:1516px;
  top:341px;
  width:322px;
  height:34px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  line-height:18px;
}
#u2607 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2607_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:center;
}
#u2608 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:215px;
  width:299px;
  height:15px;
  display:flex;
  color:#FF0000;
  text-align:center;
}
#u2608 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2608_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
