body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-26px;
  width:593px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:421px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13578 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:52px;
  width:517px;
  height:421px;
  display:flex;
}
#u13578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  line-height:18px;
}
#u13579 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:88px;
  width:48px;
  height:34px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  line-height:18px;
}
#u13579 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13579_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  line-height:18px;
}
#u13580 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:112px;
  width:48px;
  height:34px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  line-height:18px;
}
#u13580 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13580_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  line-height:18px;
}
#u13581 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:137px;
  width:36px;
  height:34px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  line-height:18px;
}
#u13581 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13581_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:2px;
}
#u13582 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:191px;
  width:517px;
  height:1px;
  display:flex;
}
#u13582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  line-height:18px;
}
#u13583 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:88px;
  width:53px;
  height:34px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  line-height:18px;
}
#u13583 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13583_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  line-height:18px;
}
#u13584 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:112px;
  width:98px;
  height:34px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  line-height:18px;
}
#u13584 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13584_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  line-height:18px;
}
#u13585 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:137px;
  width:36px;
  height:34px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  line-height:18px;
}
#u13585 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13585_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  line-height:18px;
}
#u13586 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:88px;
  width:48px;
  height:34px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  line-height:18px;
}
#u13586 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13586_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13587 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:245px;
  width:56px;
  height:34px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13587 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13587_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u13589 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:249px;
  width:128px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u13589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
  line-height:18px;
}
#u13590 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:245px;
  width:89px;
  height:34px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
  line-height:18px;
}
#u13590 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13590_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2DB7F5;
  line-height:18px;
}
#u13591 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:245px;
  width:48px;
  height:34px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2DB7F5;
  line-height:18px;
}
#u13591 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13591_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
  line-height:18px;
}
#u13592 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:52px;
  width:443px;
  height:34px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
  line-height:18px;
}
#u13592 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13592_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13593 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:199px;
  width:56px;
  height:34px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13593 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13593_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13594 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:297px;
  width:42px;
  height:34px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13594 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13594_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13595 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:339px;
  width:56px;
  height:34px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13595 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13595_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:29px;
  background:inherit;
  background-color:rgba(45, 183, 245, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13596 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:408px;
  width:82px;
  height:29px;
  display:flex;
  color:#FFFFFF;
}
#u13596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2DB7F5;
  line-height:18px;
}
#u13597 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:88px;
  width:120px;
  height:34px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2DB7F5;
  line-height:18px;
}
#u13597 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13597_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:33px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.20392156862745098);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13598 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:52px;
  width:517px;
  height:33px;
  display:flex;
}
#u13598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13599 label {
  left:0px;
  width:100%;
}
#u13599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u13599 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:209px;
  width:69px;
  height:15px;
  display:flex;
}
#u13599 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u13599_img.selected {
}
#u13599.selected {
}
#u13599_img.disabled {
}
#u13599.disabled {
}
#u13599_img.selected.error {
}
#u13599.selected.error {
}
#u13599_img.selected.hint {
}
#u13599.selected.hint {
}
#u13599_img.selected.error.hint {
}
#u13599.selected.error.hint {
}
#u13599_img.mouseOver.selected {
}
#u13599.mouseOver.selected {
}
#u13599_img.mouseOver.selected.error {
}
#u13599.mouseOver.selected.error {
}
#u13599_img.mouseOver.selected.hint {
}
#u13599.mouseOver.selected.hint {
}
#u13599_img.mouseOver.selected.error.hint {
}
#u13599.mouseOver.selected.error.hint {
}
#u13599_img.mouseDown.selected {
}
#u13599.mouseDown.selected {
}
#u13599_img.mouseDown.selected.error {
}
#u13599.mouseDown.selected.error {
}
#u13599_img.mouseDown.selected.hint {
}
#u13599.mouseDown.selected.hint {
}
#u13599_img.mouseDown.selected.error.hint {
}
#u13599.mouseDown.selected.error.hint {
}
#u13599_img.mouseOver.mouseDown.selected {
}
#u13599.mouseOver.mouseDown.selected {
}
#u13599_img.mouseOver.mouseDown.selected.error {
}
#u13599.mouseOver.mouseDown.selected.error {
}
#u13599_img.mouseOver.mouseDown.selected.hint {
}
#u13599.mouseOver.mouseDown.selected.hint {
}
#u13599_img.mouseOver.mouseDown.selected.error.hint {
}
#u13599.mouseOver.mouseDown.selected.error.hint {
}
#u13599_img.focused.selected {
}
#u13599.focused.selected {
}
#u13599_img.focused.selected.error {
}
#u13599.focused.selected.error {
}
#u13599_img.focused.selected.hint {
}
#u13599.focused.selected.hint {
}
#u13599_img.focused.selected.error.hint {
}
#u13599.focused.selected.error.hint {
}
#u13599_img.selected.disabled {
}
#u13599.selected.disabled {
}
#u13599_img.selected.hint.disabled {
}
#u13599.selected.hint.disabled {
}
#u13599_img.selected.error.disabled {
}
#u13599.selected.error.disabled {
}
#u13599_img.selected.error.hint.disabled {
}
#u13599.selected.error.hint.disabled {
}
#u13599_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:52px;
  white-space:nowrap;
  text-transform:none;
}
#u13599_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u13600 label {
  left:0px;
  width:100%;
}
#u13600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u13600 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:209px;
  width:69px;
  height:15px;
  display:flex;
}
#u13600 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u13600_img.selected {
}
#u13600.selected {
}
#u13600_img.disabled {
}
#u13600.disabled {
}
#u13600_img.selected.error {
}
#u13600.selected.error {
}
#u13600_img.selected.hint {
}
#u13600.selected.hint {
}
#u13600_img.selected.error.hint {
}
#u13600.selected.error.hint {
}
#u13600_img.mouseOver.selected {
}
#u13600.mouseOver.selected {
}
#u13600_img.mouseOver.selected.error {
}
#u13600.mouseOver.selected.error {
}
#u13600_img.mouseOver.selected.hint {
}
#u13600.mouseOver.selected.hint {
}
#u13600_img.mouseOver.selected.error.hint {
}
#u13600.mouseOver.selected.error.hint {
}
#u13600_img.mouseDown.selected {
}
#u13600.mouseDown.selected {
}
#u13600_img.mouseDown.selected.error {
}
#u13600.mouseDown.selected.error {
}
#u13600_img.mouseDown.selected.hint {
}
#u13600.mouseDown.selected.hint {
}
#u13600_img.mouseDown.selected.error.hint {
}
#u13600.mouseDown.selected.error.hint {
}
#u13600_img.mouseOver.mouseDown.selected {
}
#u13600.mouseOver.mouseDown.selected {
}
#u13600_img.mouseOver.mouseDown.selected.error {
}
#u13600.mouseOver.mouseDown.selected.error {
}
#u13600_img.mouseOver.mouseDown.selected.hint {
}
#u13600.mouseOver.mouseDown.selected.hint {
}
#u13600_img.mouseOver.mouseDown.selected.error.hint {
}
#u13600.mouseOver.mouseDown.selected.error.hint {
}
#u13600_img.focused.selected {
}
#u13600.focused.selected {
}
#u13600_img.focused.selected.error {
}
#u13600.focused.selected.error {
}
#u13600_img.focused.selected.hint {
}
#u13600.focused.selected.hint {
}
#u13600_img.focused.selected.error.hint {
}
#u13600.focused.selected.error.hint {
}
#u13600_img.selected.disabled {
}
#u13600.selected.disabled {
}
#u13600_img.selected.hint.disabled {
}
#u13600.selected.hint.disabled {
}
#u13600_img.selected.error.disabled {
}
#u13600.selected.error.disabled {
}
#u13600_img.selected.error.hint.disabled {
}
#u13600.selected.error.hint.disabled {
}
#u13600_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:52px;
  white-space:nowrap;
  text-transform:none;
}
#u13600_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u13601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13601 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:297px;
  width:25px;
  height:34px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13601 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13601_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  line-height:18px;
}
#u13602 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:339px;
  width:55px;
  height:34px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  line-height:18px;
}
#u13602 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13602_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u13603 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:305px;
  width:18px;
  height:18px;
  display:flex;
  text-align:right;
}
#u13603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u13604 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:207px;
  width:18px;
  height:18px;
  display:flex;
  text-align:right;
}
#u13604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
  line-height:18px;
}
#u13605 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:246px;
  width:55px;
  height:34px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
  line-height:18px;
}
#u13605 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13605_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u13606 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:403px;
  width:204px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#FF0000;
}
#u13606 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13606_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u13607 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:423px;
  width:144px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#FF0000;
}
#u13607 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13607_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u13608 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:62px;
  width:60px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#FF0000;
}
#u13608 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13608_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u13609 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:227px;
  width:60px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#FF0000;
}
#u13609 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13609_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13610 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:225px;
  width:0px;
  height:0px;
}
#u13610_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:14px;
}
#u13610_seg1 {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:4px;
  width:103px;
  height:10px;
}
#u13610_seg2 {
  border-width:0px;
  position:absolute;
  left:-106px;
  top:0px;
  width:18px;
  height:18px;
}
#u13610_text {
  border-width:0px;
  position:absolute;
  left:-94px;
  top:1px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u13611 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:327px;
  width:60px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#FF0000;
}
#u13611 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13611_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13612 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:323px;
  width:0px;
  height:0px;
}
#u13612_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:16px;
}
#u13612_seg1 {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:6px;
  width:87px;
  height:10px;
}
#u13612_seg2 {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:2px;
  width:18px;
  height:18px;
}
#u13612_text {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:3px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
