body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-21px;
  width:1079px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:480px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13381 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:19px;
  width:630px;
  height:480px;
  display:flex;
}
#u13381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13382 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:50px;
  width:56px;
  height:34px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13382 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13382_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13383 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:91px;
  width:56px;
  height:34px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13383 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13383_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13384 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:50px;
  width:42px;
  height:34px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13384 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13384_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13385 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:50px;
  width:56px;
  height:34px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13385 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13385_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13386 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:130px;
  width:56px;
  height:34px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13386 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13386_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13387 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:182px;
  width:70px;
  height:16px;
  display:flex;
}
#u13387 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13387_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u13388 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:100px;
  width:56px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u13388 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13388_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13389 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:290px;
  width:56px;
  height:34px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13389 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13389_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13390 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:336px;
  width:56px;
  height:34px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13390 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13390_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13391 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:384px;
  width:42px;
  height:34px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13391 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13391_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:2px;
}
#u13392 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:258px;
  width:630px;
  height:1px;
  display:flex;
}
#u13392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u13393 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:173px;
  width:62px;
  height:29px;
  display:flex;
  text-align:left;
}
#u13393 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u13394 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:173px;
  width:83px;
  height:34px;
  display:flex;
  line-height:18px;
}
#u13394 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13394_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13395 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:130px;
  width:39px;
  height:34px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13395 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13395_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13396 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:91px;
  width:38px;
  height:34px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13396 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13396_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13397 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:91px;
  width:16px;
  height:34px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13397 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13397_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13398 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:50px;
  width:46px;
  height:34px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13398 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13398_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13399 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:50px;
  width:28px;
  height:34px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13399 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13399_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13400 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:50px;
  width:83px;
  height:34px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13400 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13400_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13401 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:290px;
  width:62px;
  height:34px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13401 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13401_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13402 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:336px;
  width:114px;
  height:34px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13402 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13402_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13403 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:384px;
  width:42px;
  height:34px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13403 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13403_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u13404 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:290px;
  width:84px;
  height:29px;
  display:flex;
  text-align:left;
}
#u13404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:346px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 4px rgba(153, 153, 153, 0.34901960784313724);
  -webkit-box-shadow:0px 0px 4px rgba(153, 153, 153, 0.34901960784313724);
  box-shadow:0px 0px 4px rgba(153, 153, 153, 0.34901960784313724);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:10px;
}
#u13405 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:153px;
  width:404px;
  height:346px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:10px;
}
#u13405 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u13405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:2px;
}
#u13406 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:196px;
  width:403px;
  height:1px;
  display:flex;
}
#u13406 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u13407 {
  border-width:0px;
  position:absolute;
  left:1074px;
  top:166px;
  width:16px;
  height:16px;
  display:flex;
  opacity:0.5;
}
#u13407 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(54, 163, 255, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13408 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:452px;
  width:65px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13408 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u13408_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(45, 183, 245, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13408.mouseOver {
}
#u13408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u13409 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:452px;
  width:65px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u13409 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u13409_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u13409.mouseOver {
}
#u13409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:2px;
}
#u13410 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:438px;
  width:404px;
  height:1px;
  display:flex;
}
#u13410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13411 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:266px;
  width:56px;
  height:34px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13411 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13411_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13412 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:309px;
  width:56px;
  height:34px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13412 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13412_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue ', 'Helvetica Neue', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u13415 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:313px;
  width:172px;
  height:30px;
  display:flex;
  font-family:'Helvetica Neue ', 'Helvetica Neue', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u13415 .text {
  position:absolute;
  align-self:center;
  padding:2px 8px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u13415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u13417 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:270px;
  width:172px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u13417 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13418_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#666666;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13418_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13418_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#666666;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13418_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13418 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:273px;
  width:125px;
  height:25px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13418_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13418.hint {
}
#u13418_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13418.disabled {
}
#u13418_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u13418.hint.disabled {
}
#u13419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u13419 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:270px;
  width:1px;
  height:30px;
  display:flex;
}
#u13419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u13420 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:275px;
  width:24px;
  height:24px;
  display:flex;
}
#u13420 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13420_img.mouseOver {
}
#u13420.mouseOver {
}
#u13420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13421 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:353px;
  width:42px;
  height:34px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13421 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13421_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue ', 'Helvetica Neue', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u13424 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:357px;
  width:172px;
  height:30px;
  display:flex;
  font-family:'Helvetica Neue ', 'Helvetica Neue', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u13424 .text {
  position:absolute;
  align-self:center;
  padding:2px 8px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u13424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:18px;
}
#u13425 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:217px;
  width:107px;
  height:34px;
  display:flex;
  font-size:14px;
  line-height:18px;
}
#u13425 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13425_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:18px;
}
#u13426 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:217px;
  width:93px;
  height:34px;
  display:flex;
  font-size:14px;
  line-height:18px;
}
#u13426 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13426_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:18px;
}
#u13427 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:217px;
  width:70px;
  height:34px;
  display:flex;
  font-size:14px;
  line-height:18px;
}
#u13427 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13427_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u13428 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:100px;
  width:42px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u13428 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13428_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13429 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:91px;
  width:43px;
  height:34px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13429 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13429_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
