body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-48px;
  width:1218px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:327px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10653 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:62px;
  width:385px;
  height:327px;
  display:flex;
}
#u10653 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10654 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:100px;
  width:129px;
  height:35px;
  display:flex;
}
#u10654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u10655 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:119px;
  height:34px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u10655 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10655_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10656 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:156px;
  width:129px;
  height:35px;
  display:flex;
}
#u10656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:327px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10657 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:62px;
  width:385px;
  height:327px;
  display:flex;
}
#u10657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u10658 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:143px;
  width:83px;
  height:34px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u10658 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10658_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u10659 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:80px;
  width:112px;
  height:34px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u10659 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10659_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10660 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:143px;
  width:165px;
  height:34px;
  display:flex;
}
#u10660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u10661 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:148px;
  width:24px;
  height:24px;
  display:flex;
}
#u10661 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10661_img.mouseOver {
}
#u10661.mouseOver {
}
#u10661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u10662 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:190px;
  width:83px;
  height:34px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u10662 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10662_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10663 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:190px;
  width:165px;
  height:34px;
  display:flex;
}
#u10663 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u10664 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:195px;
  width:24px;
  height:24px;
  display:flex;
}
#u10664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10664_img.mouseOver {
}
#u10664.mouseOver {
}
#u10664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u10665 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:236px;
  width:83px;
  height:34px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u10665 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10665_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10666 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:236px;
  width:165px;
  height:34px;
  display:flex;
}
#u10666 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u10667 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:241px;
  width:24px;
  height:24px;
  display:flex;
}
#u10667 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10667_img.mouseOver {
}
#u10667.mouseOver {
}
#u10667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u10668 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:283px;
  width:83px;
  height:34px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u10668 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10668_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10669 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:283px;
  width:165px;
  height:34px;
  display:flex;
}
#u10669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u10670 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:288px;
  width:24px;
  height:24px;
  display:flex;
}
#u10670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10670_img.mouseOver {
}
#u10670.mouseOver {
}
#u10670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
  background:inherit;
  background-color:rgba(54, 163, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u10671 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:339px;
  width:61px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u10671 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u10671_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
  background:inherit;
  background-color:rgba(45, 183, 245, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u10671.mouseOver {
}
#u10671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u10672 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:339px;
  width:65px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u10672 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u10672_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u10672.mouseOver {
}
#u10672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:327px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10673 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:62px;
  width:385px;
  height:327px;
  display:flex;
}
#u10673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u10674 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:144px;
  width:56px;
  height:34px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u10674 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10674_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u10675 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:80px;
  width:112px;
  height:34px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u10675 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10675_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10676 {
  border-width:0px;
  position:absolute;
  left:1058px;
  top:145px;
  width:71px;
  height:34px;
  display:flex;
}
#u10676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u10677 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:191px;
  width:56px;
  height:34px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u10677 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10677_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10678 {
  border-width:0px;
  position:absolute;
  left:1058px;
  top:192px;
  width:71px;
  height:34px;
  display:flex;
}
#u10678 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
  background:inherit;
  background-color:rgba(54, 163, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u10679 {
  border-width:0px;
  position:absolute;
  left:1158px;
  top:324px;
  width:61px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u10679 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u10679_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
  background:inherit;
  background-color:rgba(45, 183, 245, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u10679.mouseOver {
}
#u10679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u10680 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:324px;
  width:65px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u10680 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u10680_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u10680.mouseOver {
}
#u10680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u10681 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:145px;
  width:13px;
  height:34px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u10681 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10681_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u10682 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:190px;
  width:13px;
  height:34px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u10682 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10682_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
  line-height:18px;
}
#u10683 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:253px;
  width:151px;
  height:34px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
  line-height:18px;
}
#u10683 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10683_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10684 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:118px;
  width:0px;
  height:0px;
}
#u10684_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:246px;
  height:10px;
}
#u10684_seg1 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:-9px;
  width:18px;
  height:18px;
}
#u10684_text {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10685 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:174px;
  width:0px;
  height:0px;
}
#u10685_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:664px;
  height:10px;
}
#u10685_seg1 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:-9px;
  width:18px;
  height:18px;
}
#u10685_text {
  border-width:0px;
  position:absolute;
  left:280px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
